.container {
  background-color: #fff7;
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  border-radius: 10px;
  padding: 20px 40px 40px;
}

.edit-icon {
 width: 30px;
 cursor: pointer;
}

.edit-icon:hover {
  opacity: 0.8;
 }

 .modal-title {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  font-size: 32pt;
}

.title {
  font-size: 52pt;
}

.add-new {
  padding: 6px 20px;
  border-radius: 8px;
  border-style: solid;
  border-color: #555;
  font-family: "Amatic SC", sans-serif;
  font-size: 24pt;
  font-weight: 700;
}

.desaturate {
  filter: grayscale(100%);
  opacity: 0.3;
}