html,
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  margin: 40px 0;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #00000022;
}

tr {
  padding: 20px 0;
}

td {
  padding-right: 40px;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.35em;
  height: 1.35em;
  border: 0.14em solid #333;
  border-radius: 0.35em;
  transform: translateY(-0.075em);
}

#root {
  padding: 0;
  height: 100%;
}


/* Gradient Background */

.gradient {
  height: 100%;
  background-image: linear-gradient(
    135deg,
    #16697A,
    #489FB5,
    #82C0CC,
    #EDE7E3
    );
    background-size: 400% 400%;
    animation: gradient 20s ease infinite ;
    position: fixed;
    width: 100%;
    overflow-y: scroll;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}